<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Bootstrap 实例 - 条纹表格</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
    </script>
</head>
<body>

<table class="table table-striped">
    <caption>条纹表格布局</caption>
    <thead>
    <tr>
        <th>编号</th>
        <th>商品名字</th>
        <th>商品图片</th>
        <th>商品价格</th>
        <th>是否购买</th>
    </tr>
    </thead>
    <tbody>
    {foreach $data as $val}
    <tr>

        <td>{$val.goods_id}</td>
        <td>{$val.goods_name}</td>
        <td><a href="{$val.img}"></a></td>
        <td>{$val.price}</td>
        <td><a href="http://www.shop.com/shop/cart/index?id={$val.goods_id}" class="jg">加入购物车</a></td>
    </tr>
    {/foreach}
    </tbody>
</table>

</body>
</html>
<script>
    $(document).ready(function(){
        $(".jg").click(function(){
            alert('加购成功')
        });
    });
</script>